<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/w1p3_Class_Call/src/w1p3_Class_Call/ThisClass.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="w1p3_Class_Call.ThisClass"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="w1p3_Class_Call"/>
</launchConfiguration>
